body 
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
    background-color: bisque;
}

img
{
    width: 500px;
    height: auto;
}

h1
{
    font-size: 48px;
}

.thumbnail
{
    width: 200px;
    height: auto;
}

div 
{
    margin-bottom: 25px;
}